@import './mixins.scss';
@import './variables.scss';
@import './resume.scss';

.blog-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.blog-main {
    flex-grow: 1;
    padding-left: 1rem;
    padding-top: 1.25rem;
}

.blog-c2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    max-width: 768px;
    margin: 0 auto;
}

.blog-article {
    max-width: 768px;
    margin: 0 auto;
}

.sidebar {
    flex: none;
    visibility: hidden;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.sidebar-rail {
    top: 0;
    position: sticky;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 5rem;
    max-height: 18vh;
}

@include respond(md) {
    .blog-container {
        max-width: 960px;
    }
}

@include respond(xl) {
    .sidebar {
        visibility: visible;
        margin-top: 4rem; /* 64px */
    }
}