.resume-main p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.row {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.row-time {
    font-weight: 300;
    width: 25%;
}

.row-info {
    display: flex;
    flex-direction: column;
    width: 66.666667%;
    padding-bottom: 1.5rem;
}

.row-info > h1 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-weight: 600;
    margin-bottom: 1.127563px;
}

.row-info-address {
    font-size: .75rem;
    line-height: 1rem;
}

.row-info > p {
    padding-top: .5em;
    font-size: .875rem;
    line-height: 1.25rem;
}

.big-title {
    --fluid-type: clamp(4.25rem, -0.625rem + 8.125vw, 7.5rem);
    font-size: var(--fluid-type, 2.3em);
    text-transform: uppercase;
    color: #222;
    margin: 0 0 0.5em;
    font-weight: 900;
}