---
layout: default
title: MurphyShark
---

<h2>Latests posts🔥</h2>
<section class="grid gap">
  {% for post in collections.posts %}
    <article>
      <time>{{ post.data.date }}</time>
      <h2 class="no-margin">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <p class="no-margin">{{ post.data.description }}</p>
    </article>
  {% endfor %}
  <article>
    <time>June 30, 2024</time>
    <h2 class="no-margin">
      <a href="/">Guide on creating Gatsby 5 blog.</a>
    </h2>
    <p class="no-margin">First blog on writting your first Gatsby blog site.</p>
  </article>
</section>