---
layout: default
title: MurphyShark
---

<h1 class="no-margin side-title primary-gradient">
  <a href="/" class="primary-title">Murphy.</a>
</h1>
<article class="about">
  <p>Hi, I'm Murphy the shark🦈. The name 'Murphy' was based off the well known Murphy's Law,                                                                                                                                                                                                                                                                   
          which state that anything can went wrong will gone wrong.
  </p>
  <p>
    As a software engineer in network testing R&D Department, my work involve in C# .NET, Java, and Linux development through the use of design systems. I experienced in problem solving and providing solutions for individual entrepreneurs to large companies and everything in between. My background includes experience in computer science, mathematics, web design and technical writting.                                                                                                                                                                                                                                                                                                                                                                 
      In advance, I occasionally give tuition to college students on mathematical subjects (such as Calculus, Statistics, etc.) at my free time.
      Here on linkedIn, you'll find some detailed informations on some of the work I've done throughout my career. Feel free to drop me an email to get in touch.
  </p>
  <a href="/resume">
    <span style="text-align: right;">Read more...</span>
  </a>
</article>
<h2>Latests posts🔥</h2>
<section class="grid gap">
  {% for post in collections.posts %}
    <article>
      <time>{{ post.data.date }}</time>
      <h2 class="no-margin">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <p class="no-margin">{{ post.data.description }}</p>
    </article>
  {% endfor %}
  <article>
    <time>June 30, 2024</time>
    <h2 class="no-margin">
      <a href="/">Guide on creating Gatsby 5 blog.</a>
    </h2>
    <p class="no-margin">First blog on writting your first Gatsby blog site.</p>
  </article>
</section>