---
layout: default
title: Resumé - MurphyShark
---

<div class="no-margin grid gap">
  <div class="flex-col">
    <h1 class="big-title">
      Works
    </h1>
    <section class="row">
        <p class="row-time">2024 Sept - Now</p>
        <div class="row-info">
          <h1>Persistent Systems Limited.<span class="dark:hidden whitespace-nowrap">
            <a href="https://www.linkedin.com/company/persistent-systems" target="_blank"><svg class="inline" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 3C3.22386 3 3 3.22386 3 3.5C3 3.77614 3.22386 4 3.5 4V3ZM8.5 3.5H9C9 3.22386 8.77614 3 8.5 3V3.5ZM8 8.5C8 8.77614 8.22386 9 8.5 9C8.77614 9 9 8.77614 9 8.5H8ZM2.64645 8.64645C2.45118 8.84171 2.45118 9.15829 2.64645 9.35355C2.84171 9.54882 3.15829 9.54882 3.35355 9.35355L2.64645 8.64645ZM3.5 4H8.5V3H3.5V4ZM8 3.5V8.5H9V3.5H8ZM8.14645 3.14645L2.64645 8.64645L3.35355 9.35355L8.85355 3.85355L8.14645 3.14645Z" fill="#111"></path></svg></span>
            </a>
          </h1>
          <address class="row-info-address">Kuala Lumpur</address>
          <p>
            While we have been moved to Persistent, we continue to maintain and migrate TEMS, 
            the original product of Infovista. 
          </p>
        </div>
      </div>
    </section>
    <section class="row">
        <p class="row-time">2021 Nov - 2024 Sept</p>
        <div class="row-info">
          <h1>Infovista.
            <a href="https://www.linkedin.com/company/infovista/" target="_blank"><svg class="inline" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 3C3.22386 3 3 3.22386 3 3.5C3 3.77614 3.22386 4 3.5 4V3ZM8.5 3.5H9C9 3.22386 8.77614 3 8.5 3V3.5ZM8 8.5C8 8.77614 8.22386 9 8.5 9C8.77614 9 9 8.77614 9 8.5H8ZM2.64645 8.64645C2.45118 8.84171 2.45118 9.15829 2.64645 9.35355C2.84171 9.54882 3.15829 9.54882 3.35355 9.35355L2.64645 8.64645ZM3.5 4H8.5V3H3.5V4ZM8 3.5V8.5H9V3.5H8ZM8.14645 3.14645L2.64645 8.64645L3.35355 9.35355L8.85355 3.85355L8.14645 3.14645Z" fill="#111"></path></svg></span>
            </a>
          </h1>
          <address class="row-info-address">Kuala Lumpur</address>
          <p>
            I migrated the important parts of TEMS Cloud services to be compatible 
            with RHEL and Ubuntu Linux servers. I also worked in other TEMS projects,
            such as the JSON parser for network perfomance summary written in TypeScript, and various IPSniffing toolsets
            to allow automate testing and benchmark the results of Android applications.
          </p>
          <p>
            Beside that, I also did some research on how to measure the figure of merits and rebuffering state 
            on youtube application.
          </p>
        </div>
      </div>
    </section>
    <section class="row">
        <p class="row-time">2021 Jan - 2021 Oct</p>
        <div class="row-info">
          <h1>Appxplore Sdn Bhd.
            <a href="https://www.linkedin.com/company/appxplore/" target="_blank"><svg class="inline" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 3C3.22386 3 3 3.22386 3 3.5C3 3.77614 3.22386 4 3.5 4V3ZM8.5 3.5H9C9 3.22386 8.77614 3 8.5 3V3.5ZM8 8.5C8 8.77614 8.22386 9 8.5 9C8.77614 9 9 8.77614 9 8.5H8ZM2.64645 8.64645C2.45118 8.84171 2.45118 9.15829 2.64645 9.35355C2.84171 9.54882 3.15829 9.54882 3.35355 9.35355L2.64645 8.64645ZM3.5 4H8.5V3H3.5V4ZM8 3.5V8.5H9V3.5H8ZM8.14645 3.14645L2.64645 8.64645L3.35355 9.35355L8.85355 3.85355L8.14645 3.14645Z" fill="#111"></path></svg></span>
            </a>
          </h1>
          <address class="row-info-address">Kuala Lumpur</address>
          <p>
            I continued the dash board project in which use to collect the data from our game users. 
            It served the purpose to produce a robust statistics results on the download rate and 
            purchases items of our main game -- The Masketeer.
          </p>
        </div>
      </div>
    </section>
    <section class="row">
        <p class="row-time">2019</p>
        <div class="row-info">
          <h1>Spassolab Sdn Bhd.</h1>
          <address class="row-info-address">Kuala Lumpur</address>
          <p>
            During my internship, I worked in an outsourcing software companies. As the team leader, 
            I guide my teams and help to enhance the products for our customers. 
            We had work through several projects, such as crytocurrency e-wallet and flight-booking system.
          </p>
        </div>
      </div>
    </section>
    <h1 class="big-title">
      Academic
    </h1>
    <section class="row">
        <p class="row-time">2020</p>
        <div class="row-info">
          <h1>Universiti Tunku Abdul Rahman</h1>
          <address class="row-info-address">Kuala Lumpur</address>
          <h2>Bachelor of Science (Honours), Applied Mathematics with Computer Science</h2>
          <p>
            During my final year, I had wrote the thesis on fuzzy clustering in dynamic network graph, 
            which helps to study on the infection clusters of the pandemic COVID-19.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>