---
layout: layouts/default.liquid

---
<!-- scripts: >
  <script src="/static/js/toc.js" defer></script> -->
<article style="max-width: 960px;">
  {{ content }}
</article>

<!--
  <div class="blog-container">  <main class="blog-main">    <div class="blog-c2">      <article class="blog-article" id="blog-contents">        {{ content }}      </article>    </div>  </main>  <aside class="sidebar">    <div class="sidebar-rail" id="toc"></div>
  </aside>
</div>
-->