---
layout: layouts/base.liquid
classes:
  body: grid gap no-margin border-gradient
scripts:
  - "/static/js/toggle-burger.js"
---

<nav
  class="main-navbar"
  role="navigation"
  aria-label="main navigation ">
  <div class="container">
    <div class="navbar-rail">
      <a
        href="/"
        class="primary-title"
        style="text-decoration: none;">
        <h1 class="no-margin secondary-gradient">
          Murphy.
        </h1>
      </a>
      <a
        type="button"
        role="button"
        class="hamburger"
        aria-label="menu"
        data-target="siteNavbar"
        onclick="menuBtnFunction(this)">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="siteNavbar" class="navbar-menu">
      <div class="navbar-end">
        <a
          href="/"
          aria-current="page"
          class="">Home</a>
        <a href="/resume" class="">Resumé</a>
        <a href="/archive" class="">Archive</a>
        <a href="/notes" class="">Notes</a>
        <a
          href="https://github.com/pehcy"
          class=""
          target="_blank">GitHub</a>
      </div>
    </div>
  </div>
</nav>
<main id="main" class="grid gap">
  <article>
    <a href="#main" class="screen-reader-text">Skip to main content
  </a>
    <!-- h1 class="no-margin side-title">マーフィー🦈</h1 -->
    {{ content }}
  </article>
</main>